<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit PolicyConfig 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Voix Project</vendor>
  <vendor_url>https://github.com/Veridian-Zenith/Voix</vendor_url>
  <icon_name>system-run</icon_name>

  <action id="org.veridian.voix.execute">
    <description>Execute privileged command via Voix</description>
    <description xml:lang="en">Execute privileged command via Voix</description>
    <message>Authentication is required to run '%s' as root.</message>
    <message xml:lang="en">Authentication is required to run '%s' as root.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/voix</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    <annotate key="org.veridian.voix.command" translatable="yes">true</annotate>
  </action>

  <action id="org.veridian.voix.systemctl">
    <description>Execute systemctl commands via Voix</description>
    <description xml:lang="en">Execute systemctl commands via Voix</description>
    <message>Authentication is required to run systemctl command '%s'.</message>
    <message xml:lang="en">Authentication is required to run systemctl command '%s'.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.veridian.voix.package-management">
    <description>Execute package management commands via Voix</description>
    <description xml:lang="en">Execute package management commands via Voix</description>
    <message>Authentication is required to run package management command '%s'.</message>
    <message xml:lang="en">Authentication is required to run package management command '%s'.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
